<head>
  <!-- Compatibility -->
  <meta charset="utf-8">
  <meta content="#8E94F2" name="theme-color">
  <meta content="#8E94F2" name="msapplication-navbutton-color">
  <meta content="#8E94F2" name="apple-mobile-web-app-status-bar-style">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <!-- Metadata -->
  <meta content="website" property="og:type">
  <meta content="summary" name="twitter:card">
  <meta content="@smolespi" name="twitter:site">
  <meta content="@smolespi" name="twitter:creator">
  <meta content="/assets/img/favicon.png" property="og:image">
  <meta content="/assets/img/favicon.png" name="twitter:image">
  <meta content="{% if page.title %}{{ page.title }}{% else %}lesbian.codes{% endif %}" property="og:title">
  <meta content="{% if page.description %}{{ page.description }}{% else %}{% endif %}" property="og:description">
  <meta content="{% if page.url %}https://lesbian.codes{{ page.url }}{% else %}{% endif %}" property="og:url">
  <meta content="{% if page.description %}{{ page.description }}{% else %}{% endif %}" name="description">
  <meta content="{% if page.title %}{{ page.title }}{% else %}lesbian.codes{% endif %}" name="twitter:title">
  <meta content="{% if page.description %}{{ page.description }}{% else %}{% endif %}" name="twitter:description">
  <meta content="{% if page.url %}https://lesbian.codes{{ page.url }}{% else %}{% endif %}" name="twitter:url">
  <!-- Resources -->
  <link rel="icon" href="/assets/img/favicon.png" type="image/png" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/sanitize.css" type="text/css" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/custom.css" type="text/css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" type="text/css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css" type="text/css" crossorigin="anonymous">
</head>
